<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each_with_index do |dose, index| %>
<h3>Dose <%= index + 1 %> <%= link_to "🗑", dose_path(dose), method: :delete %></h3>
<p><%= dose.description %></p>
<p><%= dose.ingredient.name %></p>
<% end %>


<%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-lg btn-outline-success" %>
<%= link_to "Back to cocktails", cocktails_path, class: "btn btn-lg btn-outline-danger" %>
