<h1>Add dose to <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add dose", class: "btn btn-lg btn-outline-danger" %>
<% end %>
